@mixin fade {
  animation-name: fadeIn;
  animation-duration: var(--md-sys-motion-duration-medium-4);
  animation-fill-mode: both;
  animation-timing-function: var(--md-sys-motion-easing-decelerating);
  animation-delay: var(--md-sys-motion-duration-long-2);
}
:host {
  display: grid;
  gap: var(--md-sys-size-4);
  padding-top: var(--md-sys-size-8);
}

h2 {
  color: #2d2d2d;
  margin: unset;
}

sl-search-bar {
  padding: var(--md-sys-size-4);
  animation-name: slideInFromTop;
  animation-duration: var(--md-sys-motion-duration-medium-3);
  animation-fill-mode: both;
  animation-timing-function: var(--md-sys-motion-easing-emphasized);
  animation-delay: calc(var(--md-sys-motion-duration-medium-4) + var(--md-sys-motion-duration-long-2))
}

.conferences-container {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: var(--md-sys-size-4);
  overflow-y: auto;
  max-width: 100%;
  padding: var(--md-sys-size-4);

  &::-webkit-scrollbar {
    display: none;
  }

  @include fade;
}

.messages-container {
  display: grid;
  gap: var(--md-sys-size-4);
  padding: var(--md-sys-size-4);
  max-width: 100%;

  @include fade;
}
