:host {
  background-color: var(--md-sys-color-surface);
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 2rem auto 2rem;
  gap: 1rem;
  cursor: pointer;
}
.author,
.star {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f6e2cd;
  font-weight: bold;
  color: var(--md-ref-neutral-neutral6)
}

.star {
  background-color: gainsboro;
  border: none;
  outline: none;
  padding: unset;
}

.content {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.duration {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

h4,
p {
  margin: unset;
}
