@keyframes fallIn {
  from {
    opacity: 0;
    transform: scale(0.6) translateY(-0.5rem);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
}

@keyframes slideInFromRight{
  from {
    transform: translateX(100%);
  }
}


@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0.6;
    transform: translateY(1rem);
  }
}
