:host {
  display: block;
  position: relative;
  border-radius: 1rem;
  height: 300px;
  width: 200px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 1000ms ease, filter 1000ms ease;

  &:hover {
    transform: scale(1.1);
    .image {
      filter: unset;
    }
    .overlay {
      opacity: 0;
    }
  }
}
h2 {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  margin: unset;
  color: white;
}

.image {
  height: 300px;
  width: 200px;
  object-fit: cover;
  filter: blur(3px);
}

.title {
  z-index: 100;
}
