<div class="logo"></div>
<mat-list>
  <mat-list-item class="item" routerLink="home" routerLinkActive="active">
    <mat-icon fontIcon="home"></mat-icon>
    Home
  </mat-list-item>
  <mat-list-item class="item" routerLink="conferences" routerLinkActive="active" matRipple>
    <mat-icon fontIcon="group"></mat-icon>
    Conferences
  </mat-list-item>
  <mat-list-item class="item" routerLink="messages" routerLinkActive="active" matRipple>
    <mat-icon fontIcon="mail"></mat-icon>
    Messages
  </mat-list-item>
</mat-list>
