@use 'typography';

:host {
  background-color: var(--md-sys-color-surface);
  border-top-right-radius: var(--md-sys-size-4);
  border-bottom-right-radius: var(--md-sys-size-4);
  padding: var(--md-sys-size-8) var(--md-sys-size-3);
}

.logo {
  height: 4rem;
  background: var(--md-sys-company-logo);
  background-size: contain;
  margin-bottom: var(--md-sys-size-6);
  animation: flip 3s infinite alternate;
}

@for $i from 1 through 3 {
  .item-#{$i} {
    opacity: 0;
    animation: fade-slide-left 500ms ease forwards;
    animation-delay: #{800 * $i}ms;
  }
}

@keyframes flip {
  20% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(-1);
  }
}

@keyframes fade-slide-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  80% {
    opacity: 0.8;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
